
@media only screen and (max-width: 1024px) {
   body{
    overflow-x: hidden !important;
   }
    .dogs{
        position:relative;
      margin-left:-300px;
    }
    .row .pets{
        margin-left: -160px; 
    }
    .develop .am h1{
        position:relative;
       margin-left:-60px;
        font-size:67px;
        margin-top:-47px;
    }
    .am h1 span{
        font-size:67px;
    }
    .animi img{
        position: relative;
    right:530px;
    margin-top:-73px;

      }
      p.moto{
        width:89%;
      }
      .develop .animi{
        height:500px;
        width:400px;
      }
      .ux{
        margin-left:-52px;
         position:relative;
         top:-40px;
      }
     .my  .ski{
       position:relative;
       left:-240px;
     }
     .program{
        position:relative;
        left:-91px;
     }
     .skills-container{
        position:relative;
        left:-60px;
     }
     .wo{
        position:relative;
        left:-238px;
     }
     .items-links{
        position:relative;
        left:-83px;
     }
     .gallery{
        width:84%;
     }
     .contact{
        width:50%;
     }
     .div#contact{
        width:91%;
     }
     h1.info{
        padding-left: 292px;
     }
     .le10{
        width: 85% !important;
        position:relative;
        width:40%;
    }
    .wow{
 position:relative;
 left:-68px;
    }
   .about-col-1 {
     left:-51px;
     position:relative;
    }
    .about-col-2 {
     left:-78px;
    position:relative;
       }
   .Touch h4{
    position:relative;
    font-size:18px;
    top:10px;
    left:-14px;
   }
   .contactForm [type=text1], [type=number], select, textarea{
    width: 280px !important;
   }
     
 
}

@media only screen and (max-width:425px){
    body{
        width:100% ;
    }
    .moto{
        width: 90%;
        text-align: justify;
    }
    .tabs{
        width: 90%;
    }
    .main{
        position:fixed;
    }
    .ux {
    position:relative;
    right:35px;
      top:-30px;
    }
    .am h1{
        position:relative;
        margin-left:-41px;
    }
    .am h1 span{
        font-size:50px;
    }
    .dogs li{
        margin-left:10px;
       }
   .animi,img{
     margin-left:-20px;
     height:300px;
   }
.tab-titles p{
    font-size: 18px;
}


}








     *{
        margin:0;
        padding:0;
        font-family: 'Poppins',sans-serif;
        box-sizing: border-box;
    }
Body{
    background:#080808;
    color:#ffff;
    width:100%;
    overflow-x: hidden;
}
.main{
    position: fixed;
    z-index: 1;
    top: 400;
    height: 80px;
    width: 100%;
    background-color:#080808;
    
}
.logo{
    margin-top: 13px;
   
}
.pets{
    padding-left:500px;
}
.animi {
padding-left:450px;
height:600px;
}
.animi img{
    width:500px;
}
.dogs{
    display:inline-flex;
    float:right;
 
    }
.dogs{
    list-style-type:none;
    padding:30px;
    margin-top:-86px;
    }
.dogs li{
 margin-left:20px;
 margin-top:-15px;
}
   
.dogs button {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
}

.dogs button.active1 {
    background-color: #ff2796;
    border-radius: 20px;
    color:black;
    font-size: 20px;
}

.content-section {
    padding-top: 60px; /* Adjust this if your header height changes */
}

.logo{
    padding-left:50px;
    display:inline-flex;
    margin-top:-10px;
}
.runa{
   
   padding-left:2px;
    font-size:20px;
}
    .runa span{
      color:#ff2796;
      font-weight:1000;
      font-size:60px;
      height:400px;
   }
.mine{
    background-color: rgb(38, 37, 36);
    height:60px;
    border:2px solid black;
}
.am{
    margin-top: 80px;
    font-size:30px;
    padding-left:80px;
}
.hat{
 margin-top:30px;
}
.am h1{
    font-size:80px;
    margin-top:30px;
    padding-right:5%;
}
.am h1 span{
    padding-left:25px;
}
.am span{
   color:#ff2796;
  
}
.am p{
    font-size: 70px;
    padding-left: 120px;
}
.am h2{
    font-size:50px;
}
.develop{
    padding-bottom:5px ;
  
}
.ux{
    font-size:50px;
    margin-top:40px;
    display:inline-flex;
}
.main-div {
    display: flex;
}
.main-div .animet-text {
    margin: 16px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0;
}

.animet-text li {
    list-style: none;
    font-size: 45px;
    font-weight: 600;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -160px;
    }
}
.new{
    height:60px;
      width:160px; 
      color:#ffffff;
       background-color:#ff2796;
        border-radius: 20px;
         font-size:18px;
        
         
}
.hat{
    padding-left: 20px;
}
.animet-text li span {
    position: relative;
    margin: 5px 0;
    line-height: 30px;
}

.animet-text li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 40px;
    width: 100%;
    background: #080808;
    border-left: 3px solid #ff2796;
    animation: typing 3s steps(10)  infinite;
}

@keyframes typing {
    40%,
    60% {
        left: calc(100% + 0px);
    }
    100% {
        left: 0;
    }
}
/*------------about------------*/
#about{
    padding: -50px 0;
}
.about-col-1 img{
    height: 250px;
    width: 325px;
    border-radius:3%;
	position: relative;
	left: -50px;
	bottom:-40px;
padding-left: 20%;	
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
	padding-top:100px;
	padding-bottom: 50px;	
}
.about-col-2{
    flex-basis: 60%;  
}
.hi{
    z-index: -1;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:skyblue;
}
.tab-titles{
    display: flex;  
}
.moto{
    margin-top:2%;
}
.tab-links{
    margin-right: 50px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    font-size: 25px;
}

.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff2796;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.7s;
}

.tab-links.active-link::after{
    width: 50%;
    background: #ff2796;
}

.tab-links:hover::after{
    width: 100%;
}

.tab-contents ul li{
    margin: 10px 0;
    font-size:20px;
}

.tab-contents ul li span{
    color:#ff2796;
    font-size: 25px;
    font-weight: 600; 
    margin-bottom:2%; 
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}
.main-title{
    margin-top: 30px;
}
.about-col-2 h1{
    font-size: 50px;
    z-index:-1;
}
.about-col-2 p {
    line-height: 22px;
}
.multiple-text{
    background:#ffffff;    
    background-clip: text;
    color: transparent;
    width: 100%; 
  }
  /*--skills section--*/
  .my{
    padding-left:490px;
    margin-top:50px;
    position:center;
  }

  .my h1{
    font-size: 50px;
    text-align: center;
  }
  .program{
    padding-left:120px;
    margin-top:30px;
    font-size:30px;
  }
.program h2{
    font-size:30px;
}
  .container{
    position:relative;
    width:100%;
  }
  .container .my h1{
   position:relative;
   display:inline-block;
  }
.container .my h1::before{
    content:'';
    position:absolute;
    width:100%;
    height:3px;
    top:110%;
    left:0;
    background-color:#ff2796;
} 
.container .my h1::after{
    content: '';
	position: absolute;
	width: 50%;
	height: 3px;
	background-color: #ff2796;
	top: calc(125% - 1px);
	left: 50%;
	transform: translateX(-50%);
}
.container .row{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
} .program h2{
	position: relative;
	color:whitesmoke;
	font-size: 30px;
	font-family: helvetica;
	display: inline-block;
	margin-bottom: 30px;
}
.program h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color: #ffffff;
}
 .program h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	top: calc(125% - 1px);
	left: 0;
	background-color: #ff2796;
}
.subject{
    font-size: 20px;
    font-weight: 600;
    color:rgb(170, 162, 162);
    padding-left: 20%;
}
.bar{
	position: relative;
	width: 50%;
	height: 4px;
	background-color: #808080;
	border-radius: 15px;
	margin-bottom: 20px;
    margin-left: 20%;
    margin-top: 10px;
}
.bar::after{
	position: absolute;
	content: attr(value);
	top: -35px;
	right: 0;
	color: #808080;
	font-size: 18px;
}
.line{
	position: absolute;
	width: 0%;
	height: 6px;
	background-color: #ff2796;
	border-radius: 15px;
	top: -1px;
	animation: animate 2.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
    padding-left:20px;
}
@keyframes animate{
	0%{
		width: 0%;
	}
	50%{
		width: 50%;
	}
	100%{
		width: 100%;
	}
}
.line::after{
        content: '';
        position: absolute;
        width: 13px;
        height: 11px;
        border-radius: 50%;
        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%);
        background-color: #cbc1c1;
}
/*---portfolio----*/
.demo3 h1{
    font-size: 80px;
    font-family:'Times New Roman', Times, serif ;
    color:#ffffff;
    background-clip: text;
    margin-left: 500px;
    padding-left: 40px;
    margin-top: 10px;
  }
  #projects {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 60px 0;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
img {
 
    display: block;
    object-fit: cover;
    transition: .4s ease;
 
}

.items-links {
    width: 60%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    gap: 40px;
}

.item-link {
    border: 2px solid #ff2796;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    color: #ff2796;
    cursor: pointer;
    border-radius: 30px;
    transition: .4s ease;
}

.item-link:hover {
    background-color: #ff2796;
    color: #ffffff;
}

.menu-active {
    background-color: #ff2796;
    color: #ffffff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.project-img {
    border-radius: 12px;
    overflow: hidden;
    height:auto;
   padding:1%;
    box-shadow: 0 0 4px rgba(170, 163, 163, 0.4);
    /* Adjusted to handle varying image aspect ratios */
    animation: SclAnimation .4s ease;
    display: block;
    position:relative; 
    border:2px solid white;
}
.overlay{
height:100%;
width:100%;
position:absolute;
top:100%;
left:0;
background:linear-gradient(transparent,#ff2796);
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap:5px;
transition: .4s ease;
}
.overlay h4{
font-size:28px;
color:white;
}
.btn{
display:inline-block;
width:fit-content;
padding:7px 20px;
background:#ffff;
border-radius:12px ;
text-decoration: none;
color:#ff2796;
font-size:16px;
font-weight:500;
transition: .4s ease;
border:1px solid transparent;
}
.btn:hover{
background:transparent;
border-color:#ffff;
color:#ffff;
}
.btn-light{
background:transparent;
border-color:#ffff;
color:#ffff;
}
.btn-light:hover{
background:#ffffff;
color:#ff2796;
}
.action-aria{
display:flex;
align-items: center;
gap:10px;
}
.project-img img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    transition: transform .3s ease;
}

.project-img:hover img {
    transform: scale(1.05);
}

@keyframes SclAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.project-img:hover .overlay{
    top:0;
}
/* contact form*/
.info{
    margin-top:20px;
     padding-left: 440px;
      color:#ff2796;
       font-size: 60px;
}
.le10{
    height:820px;
     padding-top:20px; 
     border-radius:60px;
      background-color:#423f3f;
       border:1px double #ffff;
}
.row6{
    margin-left:50px; 
    padding-right: 100px;
  margin-top:-200px; 
    display: flex;
    justify-content: space-between; 
  }
  .Touch h4{
    padding-left:70px;
     margin-top:-35px;
  }
  .con{
    margin-top: 100px;
    border-radius: 40px;
    padding:40px;
    width:50%;   
  }
  /* .contact{
    font-size:50px;
    margin-top: 30px;
    font-weight: bold;
    background: linear-gradient(50deg,rgb(141, 89, 247),rgb(169, 130, 249),rgb(209, 189, 252), white );    
    background-clip: text;
    color: transparent;
  } */
  .contactForm{
    /* color:#ff2796; */
  }
  .contactForm [type=text1],[type=number], select, textarea{
    width:320px;
    font-size: 15px;
    padding: 12px;  
    border-radius: 5px;
    box-sizing:border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    margin-right: 15px;
    resize:vertical;
    background-color: black;
    border:0.5px solid rgb(67, 72, 78);
    color:white;
  }
  /* .contactform h1{
 display:inline-flex;
  } */
  /* .contactForm textarea{
    resize: none;
  } */
  .contactForm [type=text1]:hover{
    border-color:#ff2796;
  }
  .contactForm [type=number]:hover{
    border-color:#ff2796;
  }
  .contactForm select:hover{
    border-color:#ff2796;
  }
  .contactForm textarea:hover{
    border-color:#ff2796;
  }

  #activeabt:hover{
    background-color: rebeccapurple;
    #abt{
        background-color: rebeccapurple;
    }
  }
 

